##### Ignore everything...
/*
vendor
vendor/

##### ... except:
!/.htaccess
!/.gitignore
!/composer.json
!/composer.lock
!/package.json
!/package-lock.json
!/index.php
!/robots.txt
!/README.md

##### Themes
!/themes/
!/themes/dribbles

##### Core
!/mysite/
!/app/
!/node_modules/
