##### Ignore everything...
/*
vendor
vendor/

##### ... except:
!/.htaccess
!/.gitignore
!/composer.json
!/composer.lock
!/index.php
!/robots.txt
!/README.md

##### Themes
!/themes/
!/themes/dribbles

##### Core
!/mysite
!/app
